@charset "UTF-8";
:root{
	--color-white:#e5e6e3;
	--color-black:#011627;
	--color-blue1:#4A90E2;
	--color-blue2:#8CB8ED;
	
	--color-point1:#e29c4a;
	
    --blackground-color:#dddddd;
}

#mainContatiner{
    background-color: var(--blackground-color);
    height: 70vh;
    margin-top:3%;
}
/* MAIN */
.main_form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

#imgContatiner {
    margin:0 auto;
}
#selectContainer{
    background-color: var(--color-blue2);
    border-radius: 20px;
    width: 90%;
    height: 15%;
    min-width: 1255px;
    margin: 0 auto;
}
#img{
    width: 800px;
    height: 500px;
    margin: 0 auto;
}
#selectContainer,#selectContainer_{
    background-color: var(--color-blue2);
    border-radius: 20px;
    width: 1300px;
    height: 100px;
    display:flex;
    flex-flow:column;
    justify-content:center;
    margin: 0 auto;
}
#serchFlightFormContainer,#serchFlightFormContainer_{
	margin:0 auto;
}
#serchFlightForm>label,
#serchFlightForm_>label{
	font-size: 20px;
	margin-left:10px;
}
#serchFlightForm>img,
#serchFlightForm_>img{
	vertical-align: middle;
	margin-bottom: 5px;
	width: 35px;
	height: 35px;
}
.checkedserchFlight{
	width: 180px;
	height: 40px;
	font-size: 20px;
	border: 2px solid #ddd;
	border-radius:8px;
	background: url(/img/bg_select.png) no-repeat right 13px center;
	background-color:lightgray;
	text-align:center;
	margin-top:20px;
	-webkit-appearance: none;
}
#checkedDep_date,#checkedDep_date_{
	width: 140px;
	height: 40px;
	font-size: 20px;
	border: 2px solid #ddd;
	border-radius:8px;
	background-color:lightgray;
	text-align:center;
	margin-top:20px;
	margin-right:10px;
}
#serchFlightBtn,#serchFlightBtn_{
	font-size: 20px;
	height: 45px;
	width:130px;
	margin:15px;
	background-color: lightgray;
	border-radius: 4px;
}
#serchFlightBtn:hover,
#serchFlightBtn_:hover{
    background-color: gray;
    cursor: pointer;
}
/* flight_form */
.flight_form{
	display:none;
	width: 100%;
	height: 100%;
}
#flightListTableContainer{
	margin-top: 20px;
}
#flightListTable{
	width: 80%;
	text-align: center;
	border: 3px;
	margin: 0 auto;
}
#flightListTable>thead{
	font-size: 22px;
	height: 50px;
	background-color:var(--color-blue1);
}
#flightListTable>tbody{
	font-size: 18px;
	font-weight:400;
	background-color:var(--color-blue2);
}
#flightListTable>tbody>tr{
	height: 40px;
}
#flightListTable th,#flightListTable td{
	padding: 10px;
	border: 2px solid white;
}
/* booking_form */
.booking_form{
	display:none;
	width: 100%;
	height: 100%;
}
.booking_form > h1{
	text-align: center;
	margin: 30px;
}

#bookingTable1,#bookingTable2{
	width: 80%;
	text-align: center;
	border: 3px;
	margin: 0 auto;
}
#bookingTable1>thead,
#bookingTable2>thead{
	font-size: 22px;
	height: 50px;
	background-color:var(--color-blue1);
}
#bookingTable1>tbody,
#bookingTable2>tbody{
	font-size: 18px;
	font-weight:400;
	background-color:var(--color-blue2);
}
#bookingTable1>tbody>tr,
#bookingTable2>tbody>tr{
	height: 40px;
}
#bookingTable1 th,#bookingTable1 td,
#bookingTable2 th,#bookingTable2 td{
	padding: 10px;
	border: 2px solid white;
}
.buttonContatiner{
	text-align: center;
}
#seatForm{
	display: flex;
	margin:0 auto;
	width: 1000px;
	height: 400px;
}
.fContainer{
	display: flex;
	flex: 1;
}
.eContainer{
	display: flex;
	flex: 5;	
}
.seatBoxLine{
	display: flex;
	flex-direction: column;
	width: 100%;
	height:100%;
}
.seatBox1{
	width: 100%;
	height:100%;
	text-align:center;
	border: 2px black solid;
	background-color: #008040;
}
.seatBox0{
	width: 100%;
	height:100%;
	border: 2px black solid;
	background-color: white;
}
/* rsv_form */
.rsv_form{
	display:none;
	width: 100%;
	height: 100%;
}

/* mypage_form */
.mypage_form{
	display:none;
	width: 100%;
	height: 100%;
}
#myInfoTableContainer{
	text-align: center;
	margin-top: 100px;
}
#myInfoTable{
	margin: 0 auto;
}
#myInfoTable tr{
	display: block;
	float: left;
}
#myInfoTable td,
#myInfoTable th{
	display: flex;
	justify-content:center;
	align-items:center;
	height: 50px;;
	width:300px;
}
#myInfoTable th{
	background-color:gray;
	font-size: 20px;
	font-weight: bord;
}
#myInfoTable td{
	background-color:lightgray;
	font-size: 18px;
	font-weight: 400;
}
#myInfoBtn,#d_myInfoBtn{
	width:400px;
	height: 50px;
	font-size: 26px;
	font-weight:bold;
	background-color: white;
	border-radius: 150px;
	margin: 30px;
}
#myInfoBtn:hover,
#d_myInfoBtn:hover{
    background-color: gray;
    cursor: pointer;
}