@charset "UTF-8";
:root{
	--color-white:#e5e6e3;
	--color-black:#011627;
	--color-blue1:#4A90E2;
	--color-blue2:#8CB8ED;
	
	--color-point1:#e29c4a;
	
    --blackground-color:#dddddd;
}

#mainContatiner{
    background-color: var(--blackground-color);
    height: 70vh;
    margin-top:3%;
}

/* MAIN */
.main_form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

#imgContatiner {
    margin:0 auto;
    /* display: flex;
    min-width: 1255px; */
}
#img{
    width: 800px;
    height: 500px;
    margin: 0 auto;
}
#selectContainer,#selectContainer_{
    background-color: var(--color-blue2);
    border-radius: 20px;
    width: 1300px;
    height: 100px;
    display:flex;
    flex-flow:column;
    justify-content:center;
    margin: 0 auto;
}
#serchFlightFormContainer,#serchFlightFormContainer_{
	margin:0 auto;
}
#serchFlightForm>label,
#serchFlightForm_>label{
	font-size: 20px;
	margin-left:10px;
}
#serchFlightForm>img,
#serchFlightForm_>img{
	vertical-align: middle;
	margin-bottom: 5px;
	width: 35px;
	height: 35px;
}
.checkedserchFlight{
	width: 180px;
	height: 40px;
	font-size: 20px;
	border: 2px solid #ddd;
	border-radius:8px;
	background: url(/img/bg_select.png) no-repeat right 13px center;
	background-color:lightgray;
	text-align:center;
	margin-top:20px;
	-webkit-appearance: none;
}
#checkedDep_date,#checkedDep_date_{
	width: 140px;
	height: 40px;
	font-size: 20px;
	border: 2px solid #ddd;
	border-radius:8px;
	background-color:lightgray;
	text-align:center;
	margin-top:20px;
	margin-right:10px;
}
#serchFlightBtn,#serchFlightBtn_{
	font-size: 20px;
	height: 45px;
	width:130px;
	margin:15px;
	background-color: lightgray;
	border-radius: 4px;
}
#serchFlightBtn:hover,
#serchFlightBtn_:hover{
    background-color: gray;
    cursor: pointer;
}

/* flight_form */
.flight_form{
	display:none;
	width: 100%;
	height: 100%;
}

#flightListTableContainer{
	margin-top: 20px;
}
#flightListTable{
	width: 80%;
	text-align: center;
	border: 3px;
	margin: 0 auto;
}
#flightListTable>thead{
	font-size: 22px;
	height: 50px;
	background-color:var(--color-blue1);
}
#flightListTable>tbody{
	font-size: 18px;
	font-weight:400;
	background-color:var(--color-blue2);
}
#flightListTable>tbody>tr{
	height: 40px;
}
#flightListTable th,#flightListTable td{
	padding: 10px;
	border: 2px solid white;
}
/* join_form */
.join_form{
	display:none;
	width: 100%;
	height: 100%;
	flex-flow: column;
	justify-content: center;
}
#joinFormContainer{
	display: flex;
}
#joinForm {
	display: flex;
	flex-flow: column;
	margin: 0 auto;
}
#joinForm > div {
	display: flex;
	align-items:baseline;
	text-align: center;
	width: 550px;
	margin: 10px;
}

#joinForm > div > label{
	flex-basis: 30%;
	font-size: 25px;
	margin: 10px;
}

#joinForm > div > input{
	flex-basis: 70%;
	font-size: 20px;
	height:35px;
	text-align: center;
}
#joinSubmitBtn{
	margin-top:50px;
	font-size: 25px;
	height: 48px;
	width:100%;
	background-color: lightgray;
	border-radius: 4px;
}

#joinSubmitBtn:hover{
    background-color: gray;
    cursor: pointer;
}