@charset "UTF-8";
:root{
	--color-white:#e5e6e3;
	--color-black:#011627;
	--color-blue1:#4A90E2;
	--color-blue2:#8CB8ED;
	
	--color-point1:#e29c4a;
	
    --blackground-color:#dddddd;
}

#mainContatiner{
    background-color: var(--blackground-color);
    height: 70vh;
    margin-top:3%;
}
/* MAIN */
.main_form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

#imgContatiner {
    margin:0 auto;
}
#selectContainer{
    background-color: var(--color-blue2);
    border-radius: 20px;
    width: 90%;
    height: 15%;
    min-width: 1255px;
    margin: 0 auto;
    padding-top: 25px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
#img{
    width: 800px;
    height: 500px;
    margin: 0 auto;
}

/* 항공편현황관리 form*/
.flightAdmin_form, .gateAdmin_form, .userAdmin_form{
	display:none;
	width: 100%;
	height: 100%;
}
.flightAdmin_form > h1,.gateAdmin_form > h1,.userAdmin_form > h1{
	text-align: center;
	margin: 30px;
}

#flightAdminTable,#gateAdminTable, #userAdminTable{
	width: 80%;
	text-align: center;
	border: 3px;
	margin: 0 auto;
}
#flightAdminTable>thead,#gateAdminTable>thead,#userAdminTable>thead{
	font-size: 22px;
	background-color:var(--color-blue1);
}
#flightAdminTable>tbody,#gateAdminTable>tbody,#userAdminTable>tbody{
	font-size: 18px;
	font-weight:400;
	background-color:var(--color-blue2);
}
#flightAdminTable>tbody>tr,#gateAdminTable>tbody>tr,#userAdminTable>tbody>tr{
	height: 40px;
}
#flightAdminTable th,#flightAdminTable td,
#gateAdminTable th,#gateAdminTable td,
#userAdminTable th,#userAdminTable td{
	padding: 10px;
	border: 2px solid white;
}